<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/JR.png" alt="" width="50" height="50" style="border-radius: 15px;">
            João V. Reis
        </a>
    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a  class="nav-link" href="/">Home</a>
            </li>

            <% categories.forEach(category =>  { %>
                <li class="nav-item">
                    <a  class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
                </li>
            <% })  %>
        </ul>
    </div>
    
</nav>